<template>
  
            <div class="sidebar-header">
                <div class = "Logo pt-5 pb-5"> 

        
                    <img src="../assets/larkin.png" class = "img-fluid " alt="" id="logo">

                </div>

            <div class="nav-list">
                        <ul class="upload-list list-group">
                          <ul class="col">
                            <li class="list-group-item"><a href="#" id="uploadMusic" 
                                data-bs-toggle="modal" data-bs-target="#uploadMusicModal">Upload Music</a></li>
                        </ul>
                        <ul class="col">
                            <li class="list-group-item"><a href="#" id="allSongs">All Songs</a></li>
                        </ul>
                        <ul class="col">   
                            <li class="list-group-item"><a href="#" id="createPlaylist" 
                                data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create Playlist</a></li>
                        </ul>
                    <br>                  
                         <ul class="col">
                            <li class="list-group-item"><a href="#" id="playlist1">KPOP</a></li>
                            <li class="list-group-item"><a href="#" id="playlist2">Rock</a></li>
                            <li class="list-group-item"><a href="#" id="playlist3">EMO</a></li>
                            <li class="list-group-item"><a href="#" id="playlist4">Playlist 4</a></li>
                        </ul>
                        </ul>
                    </div>                
                    </div>
    <div class="modal fade" id="uploadMusicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="Files1 p-4 text-center">
           <p class="" id="dropdrag">Drag and Drop files here</p>

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Upload</button>
        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
    
    <div class="modal fade" id="createPlaylistModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="Files1">
              <input type="text" class="inputMusic form-control">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Create</button>
        <button type="button" class="btn btn-light btn-sm" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
 

 <div class="offcanvas offcanvas-start" tabindex="-1" id="mobsidebar" aria-labelledby="offcanvasExampleLabel">

 
                <div class="left col-sm-3 padding=0" id="side-bar">
                <div class="left-panel float-left">
                    <img class="logo" src="../assets/larkin.png">
                  
                
                <div class="upload">
                        <ul class="upload-list list-group">
                            <li class="list-group-item"><a href="#" id="uploadMusic" 
                                data-bs-toggle="modal" data-bs-target="#uploadMusicModal">Upload Music</a></li>
                            <li class="list-group-item"><a href="#" id="allSongs">All Songs</a></li>
                            <li class="list-group-item"><a href="#" id="createPlaylist" 
                                data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create Playlist</a></li>
                        </ul>
                    <br>
                    
                    </div>
                    <div class="playlist">
                        <ul class="playlist-list list-group">
                            <li class="list-group-item"><a href="#" id="playlist1">KPOP</a></li>
                            <li class="list-group-item"><a href="#" id="playlist2">Rock</a></li>
                            <li class="list-group-item"><a href="#" id="playlist3">EMO</a></li>
                            <li class="list-group-item"><a href="#" id="playlist4">Playlist 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
</div>

</template>

<script>
export default {
  name: 'larkinMusic',
  props: {
    msg: String
  }
}
</script>

<style scoped>
  
.upload-list{
  margin-left: none;
  margin-top: -50px;
}
.list-group-item{
  background-color: #222831;
}

li{
  margin-bottom: 5px;
  border: none;
}
.col{
  margin-bottom: -10px;
  margin-left: 5px;
}
#uploadMusic{
    font-size: 18px;
    color: white;
    text-decoration: none;
}
#uploadMusic:hover{
    color: #E23E57;
    transition: .1s;
}
#allSongs{
    font-size: 18px;
    color: white;
    text-decoration: none;

}
#allSongs:hover{
    color: #E23E57;
    transition: .1s;
}
#createPlaylist{
    font-size: 18px;  
    color: white;
    text-decoration: none; 
}
#createPlaylist:hover{
    color: #E23E57;
    transition: .1s;
}  
#playlist1, #playlist2, #playlist3, #playlist4{
    font-size: 18px;
    color: white;
    text-decoration: none;

}
#playlist1:hover, #playlist2:hover, #playlist3:hover, #playlist4:hover{
    color: #E23E57;
    transition: .1s;
}
#logo {
  height:150px;
  width:150px;
  margin-left: 70px;
  margin-top: -40px;   
}
#uploadMusicModal .modal-content{
    border:none;
}
#uploadMusicModal .modal-header{
    background: #444F5A;
    color:black;
    border-bottom:none;
}
#uploadMusicModal .modal-header .modal-title{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
#uploadMusicModal .modal-body{
    color:black;
    background-color:#444F5A;
;
}
#uploadMusicModal .modal-body .Files1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #C4C4C4;

}

#uploadMusicModal .modal-footer{
    background-color:#444F5A;
    border-top: 0 none;
}


#createPlaylistModal .modal-content{
    border:none;

}
#createPlaylistModal .modal-header{
    background: #444F5A;
    border-bottom:none;
}
#createPlaylistModal .modal-header .modal-title{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    color: black;
}
#createPlaylistModal .modal-body{
    color:#444F5A;
    background-color: #444F5A;

}
.inputMusic{
    border-radius: 0%;
    background-color: #C4C4C4;
    color: #C4C4C4;
}

#createPlaylistModal .modal-footer{
    background-color: #444F5A;
    border-top: 0 none;
}


</style>
