<template>
    
    <div class="right col-sm-9">
                <div class="row row">
                    <div class="col col-sm-12">
                        <div id = "navside">
                        <a class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#mobsidebar" role="button" aria-controls="offcanvasExample">Menu</a>
                    </div>
                        
                
                   
                        <div class="search">
                            <input type="text" placeholder="Search" class="input" id="search-field">
                            <h2>All Songs</h2>
                       
                        </div>
                         <table class="table table-hover">
                       
                        <thead>
                        <tr>
                            <th scope="col"> # </th>
                            <th class="title" scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Album</th>
                            <th scope="col">Duration</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="song in songs" :key="song.id">
                           
                            {{song.id}}
                             <td>{{song.title}}</td>
                             <td>{{song.artist}}</td>
                             <td>Album name</td>
                            <td>{{song.length}}</td>
                        </tr>
                            </tbody>
                        </table>
                        

                    </div>
                </div>
    </div>
        <div class="container">
        <div class="music-controls-panel">
                            <div class="music-control-box">
                                <div class="progress">
                                    <progress class="music-progress" value="35" max="100"></progress>
                                </div>
                                <center>
                                    
                                <button class="rewind">
                                    <span><img src="../assets/rewind.png" alt="" width="42" height="44"></span>
                                </button>
                                <button class="play">
                                    <span><img src="../assets/playbtn.png" alt="" width="42" height="44"></span>
                                </button>
                                <button class="next">
                                    <span><img src="../assets/next.png" alt="" width="42" height="44"></span>
                                </button>
                                </center>
                            </div>
        </div>
    </div>
    
                      
                
    
                
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobsidebar" aria-labelledby="offcanvasExampleLabel">

                <div class="sidebar-header" id="side-bar">
                <div class = "Logo pb-5 pt-5"> 

        
                    <img class="logo" src="../assets/larkin.png">
                </div>

            <div class="nav-list">
                        <ul class="upload-list list-group">
                          <ul class="col">
                            <li class="list-group-item"><a href="#" id="uploadMusic" 
                                data-bs-toggle="modal" data-bs-target="#uploadMusicModal">Upload Music</a></li>
                        </ul>
                        <ul class="col">
                            <li class="list-group-item"><a href="#" id="allSongs">All Songs</a></li>
                        </ul>
                        <ul class="col">   
                            <li class="list-group-item"><a href="#" id="createPlaylist" 
                                data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create Playlist</a></li>
                        </ul>
                    <br>                  
                         <ul class="col">
                            <li class="list-group-item"><a href="#" id="playlist1">KPOP</a></li>
                            <li class="list-group-item"><a href="#" id="playlist2">Rock</a></li>
                            <li class="list-group-item"><a href="#" id="playlist3">EMO</a></li>
                            <li class="list-group-item"><a href="#" id="playlist4">Playlist 4</a></li>
                        </ul>
                        </ul>
                    </div>                
                    </div>
    </div>
    
    
 
</template>

<script>
export default {
  name: 'mainPage',
  props: [
      'songs'
  ]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input{
    border: 0;
    outline: none;
    height: 25px;
    width: 300px;
    margin-top: 70px;
    margin-left: 40px;
}
.btn{
    margin-left: 60px;
    margin-top: 10px;
    background-color:#1E1E1E;
    border: none;
}
.btn:hover{
    color: white;
    transition: .1s;
    background-color: #E23E57;
    border: none;
}
.search h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;;
    font-size: 30px;
    margin-left: 110px;
}
#search-field::placeholder {
    color: black;
}
.table thead th{
    background: #060606;
    padding: 10px;
}
.table tbody{
    background: #060606;
 
}
.table{
    width: 900px;
    height: 200px;
    margin-top: 50px;
    color: white;    
    margin-left: 110px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #E23E57;
}
.table tbody{
    margin: 50px;

}
.rewind{
    background-color: transparent;
    border: none;
    margin-left: 60px;
}

.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 70px;  
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 700px;
    margin-left: 200px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #E23E57;
}
@media only screen and (min-width: 700px) {
    #mobsidebar{
        display: none;
    }
    #navside{
        display: none;
    }
}
@media only screen and (max-width: 700px) {

.btn{
    margin-left: 40px;
}

.input{
    border: 0;
    outline: none;
    height: 25px;
    width: 300px;
    margin-top: 10px;
    margin-left: 40px;
}

.search h2 {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;;
    font-size: 30px;
    margin-left: 40px;
}
#search-field::placeholder {
    color: black;
}

.table thead th{
    background: #060606;
}
.table tbody{
    background: #060606;
}
.table{

    color: white;    
    margin-left: 40px;
    margin-right: 20px;
    position: relative;
    border: none;
    margin-top: 20px;
    width : 450px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #E23E57;
}
.table tbody{
    margin: 50px;
}
.rewind{
    background-color: transparent;
    border: none;
    margin-left: 20px;
}
.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 60px;  
   
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 400px;
    margin-left: 40px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #E23E57;
}
#side-bar .logo{
    width: 20px;
    height: 20px;
    padding: 0px;
    top: 3%;
    left: 13%;
    position: absolute;
    background-repeat: no-repeat;
}

#side-bar .list-group-item{
  background-color: #222831;
}

#side-bar li{
  margin-bottom: 5px;
  border: none;
}
#side-bar.col{
  margin-bottom: -10px;
  margin-left: 5px;
}
#side-bar .left{
    padding: 0;
    position: relative;
}
#side-bar .list-group-item{
    margin-left: 60px;
    background-color: #222831;
    border: none;
}
#side-bar .upload .playlist{
    display: flex;
}
#side-bar #uploadMusic{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#side-bar #uploadMusic:hover{
    color: #E23E57;
    transition: .1s;
}
#side-bar #allSongs{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#side-bar #allSongs:hover{
    color: #E23E57;
    transition: .1s;
}
#side-bar #createPlaylist{
    font-size: 15px;  
    color: white;
    text-decoration: none; 
}
#side-bar #createPlaylist:hover{
    color: #E23E57;
    transition: .1s;
}  
#side-bar #playlist1, #playlist2, #playlist3, #playlist4{
    font-size: 15px;
    color: white;
    text-decoration: none;

}
#side-bar #playlist1:hover, #playlist2:hover, #playlist3:hover, #playlist4:hover{
    color: #E23E57;
    transition: .1s;
}
}


</style>
