<template>

  <div class="main container-fluid" id="main-container">
      <div class="left col-sm-3 padding=0" id="sidebar">   
                <larkinMusic/>
         </div>
  
    <div class="right col-sm-9">           
    <mainPage :songs="songs"/>
  </div>
  </div>

   

</template>

<script>
import axios from "axios";
import larkinMusic from './components/larkinMusic.vue'
import mainPage from './components/mainPage.vue'

export default {
  name: 'App',
  components: {
    larkinMusic,
    mainPage
  },
  data() {
    return {
      songs: [],
    };
  },
  methods: {
    getAllSongs() {
      // axios.defaults.headers.common['Authorization'] = Bearer ${this.$auth.getAccessToken()}
      axios.get("http://localhost:8000/api/songs")
        .then((response) => {
          this.songs = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.getAllSongs();
  },
}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #222831;
  width: 100%;
  height: 100vh;
  background-color: #222831;
  overflow: hidden;
}  
#main-container {
  display:flex;  
}
#main-container > *:nth-child(1){
  flex:1 1 30;
  background-color:#222831;
  font-family:sans-serif;
  text-align: initial;
  color: #222831;
  display: flex;
  position: relative; 
  
}
#main-container > *:nth-child(2){
  flex:1 1 70;
  background-color: #222831;
  overflow: hidden;
}
#sidebar{
  border-right: 2px solid #fff;
  width: 250px;
  height: 800px;
}
@media only screen and (min-width: 700px) {
    #mobsidebar{
        display: none;
    }
    #navside{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    #sidebar{
        display: none;
        margin-left:-270px;
    }
}
   #mobsidebar{
        background-color:#222831;
    }



</style>

