*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222831;
}
.logo{
    height:150px;
    padding:5px 70px;   
}
.main .left{
    padding: 0;
    position: relative;
}
.list-group-item{
    margin-left: 60px;
    background-color: #222831;
    border: none;
}
div .upload .playlist{
    display: flex;
}
#uploadMusic{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#uploadMusic:hover{
    color: #E23E57;
    transition: .1s;
}
#allSongs{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#allSongs:hover{
    color: #E23E57;
    transition: .1s;
}
#createPlaylist{
    font-size: 15px;  
    color: white;
    text-decoration: none; 
}
#createPlaylist:hover{
    color: #E23E57;
    transition: .1s;
}  
#playlist1, #playlist2, #playlist3, #playlist4{
    font-size: 15px;
    color: white;
    text-decoration: none;

}
#playlist1:hover, #playlist2:hover, #playlist3:hover, #playlist4:hover{
    color: #E23E57;
    transition: .1s;
}
.songs-row {
    background-color: #222831;
    height: 100vh;
}
.songs-col {
    height: 100vh;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.input{
    border: 0;
    outline: none;
    height: 25px;
    width: 300px;
    margin-top: 60px;
    margin-left: 20px;
}
.search h2 {
    color: white;
    margin-top: 80px;
    font-size: 30px;
    margin-left: 20px;
}
#search-field::placeholder {
    color: black;
}
.table thead th{
    background: #060606;
}
.table tbody{
    background: #060606;
}
.table{
    width: 900px;
    height: 200px;
    margin-top: 50px;
    color: white;    
    margin-left: 20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #E23E57;
}
.table tbody{
    margin: 50px;
}
.rewind{
    background-color: transparent;
    border: none;
    margin-left: -50px;
}
.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 70px;  
   
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 700px;
    margin-left: 120px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #E23E57;
}

#uploadMusicModal .modal-content{
    border:none;
}
#uploadMusicModal .modal-header{
    background: #444F5A;
    color:black;
    border-bottom:none;
}
#uploadMusicModal .modal-header .modal-title{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
#uploadMusicModal .modal-body{
    color:black;
    background-color:#444F5A;
;
}
#uploadMusicModal .modal-body .Files1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #C4C4C4;

}

#uploadMusicModal .modal-footer{
    background-color:#444F5A;
    border-top: 0 none;
}


#createPlaylistModal .modal-content{
    border:none;

}
#createPlaylistModal .modal-header{
    background: #444F5A;
    border-bottom:none;
}
#createPlaylistModal .modal-header .modal-title{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 20px;
    opacity: 1;
    text-align: left;
    color: black;
}
#createPlaylistModal .modal-body{
    color:#444F5A;
    background-color: #444F5A;

}
.inputMusic{
    border-radius: 0%;
    background-color: #C4C4C4;
    color: #C4C4C4;
}

#createPlaylistModal .modal-footer{
    background-color: #444F5A;
    border-top: 0 none;
}
@media only screen and (min-width: 700px) {
    #mobsidebar{
        display: none;
    }
    #navside{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    #sidebar{
        display: none;
    }
}
@media only screen and (max-width: 700px) {

.table thead th{
    background: #060606;
}
.table tbody{
    background: #060606;
}
.table{
    width: 420px;
    height: 150px;
    margin-top: 50px;
    color: white;    
    margin-left: 20px;
    margin-right: 20px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color:  #E23E57;
}
.table tbody{
    margin: 50px;
}
.rewind{
    background-color: transparent;
    border: none;
    margin-left: -50px;
}
.play{
    background-color: transparent;
    border: none;
    height:100px;
    padding:5px 70px;  
   
}
.next{
    background-color: transparent;
    border: none;
}

.progress {
    height: 5px;
    border-radius: 2%;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
}

.music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}
.music-progress::-webkit-progress-value {
    background-color: #E23E57;
}
#side-bar .logo{
    height:150px;
    padding:5px 70px;   
}
#side-bar .left{
    padding: 0;
    position: relative;
}
#side-bar .list-group-item{
    margin-left: 60px;
    background-color: #222831;
    border: none;
}
#side-bar .upload .playlist{
    display: flex;
}
#side-bar #uploadMusic{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#side-bar #uploadMusic:hover{
    color: #E23E57;
    transition: .1s;
}
#side-bar #allSongs{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
#side-bar #allSongs:hover{
    color: #E23E57;
    transition: .1s;
}
#side-bar #createPlaylist{
    font-size: 15px;  
    color: white;
    text-decoration: none; 
}
#side-bar #createPlaylist:hover{
    color: #E23E57;
    transition: .1s;
}  
#side-bar #playlist1, #playlist2, #playlist3, #playlist4{
    font-size: 15px;
    color: white;
    text-decoration: none;

}
#side-bar #playlist1:hover, #playlist2:hover, #playlist3:hover, #playlist4:hover{
    color: #E23E57;
    transition: .1s;
}
    #mobsidebar{
        background-color:#222831;
    }

}

