*{
    margin: 0;
    padding: 0;
    background-color: #263E51;
}
body{
    background-color: #263E51;
    
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px #263E51;
}


.logo{
    height:60px;
    padding:5px 15px;
}


li a {
  color: black;
font-weight: 300;
font-family: sans-serif;
}
.big-text{
    font-size: 25px;
    margin-left:810px;
    margin-bottom: 10px;
    margin-top: 50px;
    color:white;
    
    
}
.small-text{
    font-size: 12px;
    margin-left: 655px;
    
    color: white;
}


#album{
    float: right;
    margin-right: 310px;
   
}
#subject{
    width: -50px;
    height: 10px;
    float: left;
    margin-left: 100px;
    
    

}
.store{
    width: 140px;
    height: 90px;
    
    
  
}
.echos{
   width: 200px;
    height: 200px;
    float: right;

     
       
